
<div>
Name:
  <%= @car["name"] %>
</div>
<div>
Model:
  <%= @car['model'] %>  
</div>
<div>
Manufacturer
  <%= @car['manufacturer'] %>
</div>
<%= form_tag "/cars/#{@car['id']}", method: :delete do %>
  <input type = "submit" value = "delete">
<% end %>
